# Introducción a Python - Ejercicios

### 1. Declarar dos variables numéricas y realizar la división entre ambas ¿De qué tipo es la variable respuesta? ¿Qué podemos hacer para que sea un entero?

In [1]:
a = 10
b = 5
c= a/b
print(c)

2.0

In [2]:
type(c)

float

In [3]:
c=int(a/b)
type(c)

int

### 2.  De dos números, comprobar cuál es el mayor.

In [4]:
a = 15
b = 19

if a > b:
    print(f'{a} es mayor {b}')
else:
    print(f'{b} es mayor {a}')

19 es mayor 15

### 3. Escribir un programa que solicite al usuario su nombre y edad (separados por coma), e imprima por pantalla:

In [5]:
nombre = input('Ingrese su nombre: ')
edad = input ('Ingrese su edad: ')

print(f'Su nombre es {nombre}, y su edad es {edad}')

Ingrese su nombre: wilmer
Ingrese su edad: 24
Su nombre es wilmer, y su edad es 24

### 4. Construir dos listas y extender la primera, para que también tenga los elementos de la segunda. Hacer lo mismo con una tupla.

In [36]:
lista_1 = ['Juan', 'Pedro', 'Carlos', 'Jesus']
lista_2 = [34, 36, 43, 55]
lista_1.extend(lista_2)
print(lista_1)

['Juan', 'Pedro', 'Carlos', 'Jesus', 34, 36, 43, 55]

In [37]:
lista_3 = list(zip(lista_1,lista_2))
print(lista_3)

[('Juan', 34), ('Pedro', 36), ('Carlos', 43), ('Jesus', 55)]

### 5. Crear dos cadenas de caracteres y concaterlas.

In [9]:
frase = 'Habia una vez un barquito chiquitico, '
frase_2 = 'los pollitos dicen.'

fra = frase + frase_2
print(fra)

Habia una vez un barquito chiquitico, los pollitos dicen.

### 6. Crear una tupla e imprimir por pantalla su tercer elemento.

In [10]:
lis_1 = ('Juan','Pedro','Luis')
lis_2 = (18,23,34)

lis_3 = list(zip(lis_1,lis_2))
print(lis_3[2])

('Luis', 34)

### 7. Crear una cadena de caracteres y convertirla a una lista.

In [11]:
frase = 'tio ya te comiste tu mango'
frase.split()

['tio', 'ya', 'te', 'comiste', 'tu', 'mango']

### 8. Comprobar si tu nombre contiene la letra _o_.

In [12]:
nombre = 'Wilmer Eduardo Marquez Nuñez'
nombre.count('o')

1

### 9. Escribir tu nombre y apellidos y convertilo todo a mayúscula.

In [13]:
nombre = 'Wilmer Eduardo Marquez Nuñez'
nombre.upper()

'WILMER EDUARDO MARQUEZ NUÑEZ'

### 10. Escribir un programa que solicite al usuario una lista de números separados por coma, construya una lista y una tupla a partir de la lista recibida y las muestre por pantalla

In [14]:
lista_1 = []
lista_2 = []
num_1 = int(input('Ingrese un numero: '))
num_2 = int(input('Ingrese un numero: '))
num_3 = int(input('Ingrese un numero: '))
num_4 = int(input('Ingrese un numero: '))
num_5 = int(input('Ingrese un numero: '))
num_6 = int(input('Ingrese un numero: '))
num_7 = int(input('Ingrese un numero: '))
num_8 = int(input('Ingrese un numero: '))
lista_1.extend ([num_1,num_2,num_3,num_4])
lista_2.extend ([num_5,num_6,num_7,num_8])

lista_3 = list(zip(lista_1,lista_2))
print(lista_3)

Ingrese un numero: 25
Ingrese un numero: 87
Ingrese un numero: 14
Ingrese un numero: 87
Ingrese un numero: 36
Ingrese un numero: 54
Ingrese un numero: 78
Ingrese un numero: 25
[(25, 36), (87, 54), (14, 78), (87, 25)]

### 11. Escribir un programa que solicite al usuario un listado de nombres separados por punto y coma, construya una lista e imprima por pantalla los elementos pares de la lista

In [16]:
lista = []
nom1= input('Ingrese un nombre: ')
nom2= input('Ingrese un nombre: ')
nom3= input('Ingrese un nombre: ')
nom4= input('Ingrese un nombre: ')
lista.extend ([nom1,nom2,nom3,nom4])
print(lista[0::2])

Ingrese un nombre: luis
Ingrese un nombre: pedro
Ingrese un nombre: juan
Ingrese un nombre: carlos
['luis', 'juan']

### 12. Escribir un programa que solicite al usuario dos cadenas de texto y detecte si la segunda está contenida en la primera.

In [17]:
frase_1 = input('Ingrese una frase: ')
frase_2 = input('Ingrese una frase: ')

frase_2 in frase_1

Ingrese una frase: luke yo soy tu padre
Ingrese una frase: no puede ser

False

### 13. Escribir un programa que solicite al usuario una lista de nombres separados por coma, una posición y devuelva la lista de nombres sustituyendo el que aparece en la posición indicada por "Miguel"

In [18]:
lista = []
nom1= input('Ingrese un nombre: ')
nom2= input('Ingrese un nombre: ')
nom3= input('Ingrese un nombre: ')
nom4= input('Ingrese un nombre: ')
lista.extend ([nom1,nom2,nom3,nom4])
lista.pop(2)
lista.insert(2,'Miguel')
print(lista)

Ingrese un nombre: luis
Ingrese un nombre: gerardo
Ingrese un nombre: pedro
Ingrese un nombre: ricardo
['luis', 'gerardo', 'Miguel', 'ricardo']

### 14. Crear una lista de 10 números y devolver del cuarto al octavo elemento.

In [19]:
numeros = [20,54,47,87,95,24,78,65,35,70]

numeros[3:7]

[87, 95, 24, 78]

### 15. Crear un diccionario a partir de dos listas (los elementos de una de ellas deben ser las claves del diccionario y los elementos de la otra, los valores del diccionario).

In [20]:
lista_1 = ['Juan', 'Pedro', 'Luis', 'Alfredo']
lista_2 = [23,24,27,28]
diccionario = dict()
for i in range(len(lista_1)):
    diccionario[lista_1[i]] = lista_2[i] 
print(diccionario)

{'Juan': 23, 'Pedro': 24, 'Luis': 27, 'Alfredo': 28}

In [21]:
diccionario = dict(zip(lista_1,lista_2))
print(diccionario)

{'Juan': 23, 'Pedro': 24, 'Luis': 27, 'Alfredo': 28}

### 16. Insertar en el diccionario anterior un nuevo valor, cuya clave sea "nueva_clave".

In [22]:
diccionario['nueva_clave'] = 290190

In [23]:
print(diccionario)

{'Juan': 23, 'Pedro': 24, 'Luis': 27, 'Alfredo': 28, 'nueva_clave': 290190}

### 17. Modificar el valor añadido al diccionario, accediendo por la clave "nueva_clave".

In [24]:
diccionario['nueva_clave'] = 900129

In [25]:
print(diccionario)

{'Juan': 23, 'Pedro': 24, 'Luis': 27, 'Alfredo': 28, 'nueva_clave': 900129}

### 18.  Eliminar todos los elementos del diccionario creado.

In [ ]:
del diccionario

In [ ]:
print(diccionario)

### 19. Crear dos listas y calcular su unión.

In [28]:
lista_1 = [1,2,3,4,5]
lista_2 = [5,4,3,2,1]
lista_3 = []
lista_3 = lista_1 + lista_2
        
print(lista_3)

[1, 2, 3, 4, 5, 5, 4, 3, 2, 1]

### 20. Crear dos conjuntos y calcular su unión, intersección y diferencia simétrica.

In [51]:
lst_1 = [39,15,15,23,85,52,52,35,75,38]
lst_2 = [33,15,23,23,98,68,27,75,75,36]
lst_3 = lst_1 + lst_2
print(lst_3)

[39, 15, 15, 23, 85, 52, 52, 35, 75, 38, 33, 15, 23, 23, 98, 68, 27, 75, 75, 36]

In [53]:
set_1 = set(lst_1)
set_2 = set(lst_2)
set_1.union(set_2)
print(set_1)

{35, 38, 39, 75, 15, 52, 85, 23}

## interseccion

In [54]:
set_1.intersection(set_2)

{15, 23, 75}

## diferencia simetrica

In [55]:
set_1.symmetric_difference(set_2)

{27, 33, 35, 36, 38, 39, 52, 68, 85, 98}